.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}
.card-content {
  border: 1px dotted black;
}
